alembic==1.6.5
Flask==2.0.1
Flask-Migrate==3.0.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
future==0.18.2
Jinja2==3.0.1
pycountry==20.7.3
pygeoip==0.3.2
Pygments==2.9.0
PyMySQL==1.0.2
SQLAlchemy==1.4.22
Werkzeug==2.0.1
WTForms==2.3.3
