alembic==1.6.2
Flask==1.1.2
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
future==0.18.2
Jinja2==2.11.3
pycountry==20.7.3
pygeoip==0.3.2
Pygments==2.9.0
PyMySQL==1.0.2
SQLAlchemy==1.4.14
Werkzeug==2.0.0
WTForms==2.3.3
