{% extends "base_internal.html" %}

{% block title %}
    Upload
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fileupload.min.css', v=config['APP_VERSION']) }}">
{% endblock %}

{% block content %}
<form id="upload-form" action="{{ url_for('objects.upload', oid=oid) }}" method="POST" enctype="multipart/form-data">
    <legend>Select Files</legend>
    <input id="file-picker" type="file" name="files[]" multiple>

    <div id="dropbox">
        Drag and Drop Files Here
    </div>

    <br />

    <input type="checkbox" name="randomize_filename" checked>Randomize Filename
    <button type="submit" class="btn btn-success btn-lg btn-block" id="upload-button" disabled>Upload</button>

    <br /><br />

    <fieldset id="progress" style="display: none;">
        <legend>Upload Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>

        <br />
    </fieldset>
</form>

<fieldset id="uploaded" style="display: none;">
    <legend>Uploaded</legend>
    <table class="table table-hover" id="files-table">
        <thead>
            <tr>
	            <th>Object</th>
	            <th>Original name</th>
	            <th>New name</th>
	            <th>Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</fieldset>
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/jquery.min.js', v=config['APP_VERSION']) }}"></script>
<script src="{{ url_for('static', filename='js/fileupload.min.js', v=config['APP_VERSION']) }}"></script>
{% endblock %}
