{% extends "base_internal.html" %}

{% block title %}
    Stats
{% endblock %}

{% block head %}

{% endblock %}

{% macro is_current(key, value) %}
    {% if request.args.get(key) == value %}
        active
    {% endif %}
{% endmacro %}

{% macro make_range_btn(value, title) %}
    <a href="{{ url_for('stats.overview', oid=o.oid, range=value, scope=request.args.get('scope')) }}"
       class="btn btn-default {{ is_current('range', value) }}" role="button">
        {{ title }}
    </a>
{% endmacro %}

{% macro make_scope_btn(value, title) %}
    <a href="{{ url_for('stats.overview', oid=o.oid, range=request.args.get('range'), scope=value) }}"
       class="btn btn-default {{ is_current('scope', value) }}" role="button">
        {{ title }}
    </a>
{% endmacro %}

{% block content %}
    {% include('stats/navigation.html') %}
    <br />

    <span class="tasklist">
        {{ make_range_btn('7d', '7 days') }}
        {{ make_range_btn('14d', '14 days') }}
        {{ make_range_btn('30d', '30 days') }}
        {{ make_range_btn('13w', '3 months') }}
        {{ make_range_btn('26w', '6 months') }}
        {{ make_range_btn('52w', '1 year') }}
        {{ make_range_btn(None, 'all time') }}

        {{ make_scope_btn('d', 'days') }}
        {{ make_scope_btn('w', 'weeks') }}
        {{ make_scope_btn('m', 'months') }}
        {{ make_scope_btn(None, 'auto') }}
    </span>

    <br /><br />
{% if o.viewcount != 0 %}
    <div>
        <canvas id="chart" width="10px" height="3px"></canvas>
    </div>

<script>
var data = {
    labels: {{ data['labels']|safe }},
    datasets: [
        {
            label: "Raw",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: {{ data['raw']|safe }}
        },
        {
            label: "Page",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: {{ data['page']|safe }}
        },
        {
            label: "Download",
            fillColor: "rgba(147,236,30,0.2)",
            strokeColor: "rgb(99,224,36)",
            pointColor: "rgb(99,224,36)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgb(99, 224, 36)",
            data: {{ data['download']|safe }}
        },
        {
            label: "Redirect",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: {{ data['redirect']|safe }}
        }
    ]
};
</script>
{% else %}
    <p class="bs-callout bs-callout-info">No data for this object.</p>
{% endif %}
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js', v=config['APP_VERSION']) }}"></script>
<script src="{{ url_for('static', filename='js/chart.min.js', v=config['APP_VERSION']) }}"></script>
<script src="{{ url_for('static', filename='js/stats/chart.min.js', v=config['APP_VERSION']) }}"></script>
<script src="{{ url_for('static', filename='js/stats/overview.min.js', v=config['APP_VERSION']) }}"></script>
{% endblock %}
