{% extends "base_internal.html" %}

{% block title %}
    Stats
{% endblock %}

{% block content %}
{% include('stats/navigation.html') %}

{% if data.__len__() %}
    <br/>

    <table class="table">
        <tr>
            <th>Referrer</th>
            <th>Count</th>
        </tr>
        {% for item in data %}
            <tr>
                <th>{{ item[1].referrer }}</th>
                <th>{{ item[2] }}</th>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p class="bs-callout bs-callout-info">No data for this object.</p>
{% endif %}
{% endblock %}
